In [15]:
import pandas as pd

df = pd.read_csv('test.csv')

print("column types: " + str(df.dtypes))
df.plot(x="A", y="B")

column types: Unnamed: 0      int64
deg             int64
width           int64
func            int64
iter            int64
loss          float64
dtype: object

In [14]:
import matplotlib.pyplot as plt

df3.plot(x="A", y="B")
# plot lines
plt.plot(x, y, label = "line 1")
plt.plot(y, x, label = "line 2")
plt.legend()
plt.show()

      Unnamed: 0  deg  width  func  iter         loss
0              0    3      1     0    10   174.307861
1              1    3      1     0    20   320.043649
2              2    3      1     0    30   433.823894
3              3    3      1     0    40   561.781441
4              4    3      1     0    50   674.260901
...          ...  ...    ...   ...   ...          ...
1545          26    3     28     4   270  2773.203897
1546          27    3     28     4   280  2781.340681
1547          28    3     28     4   290  2762.045487
1548          29    3     28     4   300  2750.567783
1549          30    3     28     4   310  2759.844810

[1550 rows x 6 columns]

In [ ]:
precedingLine = None
nextLine = None
for line in lines:
    if (